/* Reviews ---------------------------------------- */
h4 {
  color: rgba(44, 62, 80, 0.8);
  font-weight: 300
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "ratings reviews";
}

.item-reviews {
  grid-area: reviews;
}
.item-ratings {
  grid-area: ratings;
}

.tile {
  border-bottom: thin solid;
}
.review-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.identity {
  font-size: 60%;
  color: rgba(0,0,0,0.5);
  align-self: center;
}
.review-summary {
  word-wrap: break-word;
}
.review-body {
  font-size: 90%;
  color: rgba(0,0,0,0.5);
}

/* Buttons ---------------------------------------- */
.more-reviews {
  display:inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  background-color: white;
 }
.more-reviews:hover {
  color:#000000;
  background-color:rgb(44, 62, 80);
}
/* Dropdown ---------------------------------------- */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
  width: 70px;
}
.dropdown-content option {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content option:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

/* Modal ---------------------------------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: grid;
}

textarea {
  resize: none;
  width: 90%;
  height: 100px;
}

input {
  width: 90%;
  padding-bottom: 20px;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

#characteristic {
  display: flex;
  justify-content:left;
}

label.recommended, label.char {
  float: left;
  padding: 0 1em;
  text-align: center;
}

.charRating {
  margin-top:12px;
  padding-bottom: 50px;
}

span {
  padding-bottom: 10px;
  padding-top: 5px;
}

.error {
  color:red;
}