/* Related Product Cards */

.c-image__container {
  position: relative;
  top: 0;
  left: 0;
}

.c-cardImage {
  position: relative;
  display: block;
  object-fit: cover;
  width: 13rem;
  height: 13rem;
}

.c-card__star {
  position: absolute;
  top: 10px;
  left: 170px;
  width: 20px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.c-card__star img {
  width: 20px;
}

.c-cardCategory {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  line-height: 1;
}

.c-cardTitle {
  color: black;
  font-size: 14px;
  margin-left: 10px;
  line-height: 1;
}

.c-cardSale {
  color: red;
  font-size: 12px;
}

.c-cardPrice-cross {
  color: grey;
  text-decoration: line-through
}

.c-cardPrice {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  line-height: 1;
}

.c-cardRating {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  line-height: 1;
}

.c-card {
  width: 13rem;
  height: 20rem;
  border: 0.5px solid grey;
}
