/* Related Product Cards ---------------------------------------- */

.c-image__container {
  position: relative;
  top: 0;
  left: 0;
}

.c-cardImage {
  position: relative;
  display: block;
  object-fit: cover;
  width: 13rem;
  height: 13rem;
}

.c-card__star {
  position: absolute;
  top: 10px;
  left: 170px;
  width: 20px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.c-card__star img {
  width: 20px;
}

.c-cardCategory {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  line-height: 1;
}

.c-cardTitle {
  color: black;
  font-size: 14px;
  margin-left: 10px;
  line-height: 1;
}

.c-cardSale {
  color: red;
  font-size: 12px;
}

.c-cardPrice-cross {
  color: grey;
  text-decoration: line-through
}

.c-cardPrice {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  line-height: 1;
}

.c-cardRating {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  line-height: 1;
}

.compareProduct {
  box-shadow: 0px 0px 0px transparent;
  text-shadow: 0px 0px 0px transparent;
  position: relative;
  transition: 0.5s ease;
  top: -250px;
  left: 180px;
  color: black;
  font-size: 30px;
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 24%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  width: 13rem;
  height: 20rem;
  border: 0.5px solid grey;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}