@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
  color: #2C3E50;
  background-color: #ECF0F1;
  font-size: 1.1em;
}

/* Product Overview Formatting ---------------------------------------- */

.overview {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  font-size: 1em;
  line-height: 1.2em;
  background-color: white;
  padding: 5px 20px 5px 20px;
}

.ratings {
  line-height: 2em;
  font-size: .8em;

}

.product-name {
  font-style: bold;
  font-weight: 800;
  font-size: 2em;
  line-height: 1em;
}

.category {
  font-weight: 300;
  line-height: 2em;
  text-transform: uppercase;
}

.price {
  line-height: 3.5em;
}

.price-discount {
  text-decoration: line-through;
  color: rgb(170, 0, 0);
}

.description {
  font-size: .9em;
  font-weight: 400;
}

.social-media {
  line-height: 5em;
}



/* Other Component Formatting ---------------------------------------- */
