/*  Questions and Answers Formatting  ---------------------------------------- */

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin:auto;
  border: 1px solid black;
}

.question-entry {
  border: 1px solid grey;
  margin: 5px;
}

/* Answer Modal Formatting ------------------------------------------------- */
.QA-modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.QA-modal-content {
  width: 80%;
  background-color: #fff;
}

.QA-modal-header, .QA-modal-footer {
  padding: 10px;
}

.QA-modal-title {
  margin: 0;
}

.QA-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#QA-modal-textbox {
  width: 98%;
}