/*  Questions and Answers Formatting  ---------------------------------------- */

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin:auto;
  border: 1px solid black;
}

.question-entry {
  border: 1px solid grey;
  margin: 5px;
}

.search-question {
  background-color: grey;
  color: white;
  margin: 5px;
}
/*
::placeholder {
  color: black;
} */

/* Answer Modal Formatting ------------------------------------------------- */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 80%;
  background-color: #fff;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#modal-textbox {
  width: 98%;
}