/* Product Overview Formatting ---------------------------------------- */
.overview-container {
  width: 100%;
  height:fit-content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  margin: auto;
  padding-right: 10px;
}

.overview-container-expand {
  width: 100%;
  height: 670px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: auto;
}

/* Gallery Formatting --------------------------------------------------- */
.overview-gallery-container {
  grid-column: 1 / 4;
  height: 100%;
  max-height: 670px;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: auto;
}

.overview-main-image-container, .overview-thumbnail-container, .overview-main-arrow-container {
  grid-row: 1 / 2;
}

.overview-main-image-container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  min-width: 300px;
  height: 100%;
  max-height: 670px;
  background-color: rgb(44, 44, 44);
  position: relative;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  cursor: zoom-in;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overview-main-image-container::-webkit-scrollbar {
  display: none;
}

.overview-main-arrow-container {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  z-index: 3;
  align-self: center;
  vertical-align: middle;
  padding: 0px 15px;
  height: 30px;
}

.overview-main-arrow {
  padding-top: 5px;
  width: 25px;
}

.overview-main-arrow.right {
  float: right;
}

.overview-main-arrow:hover {
  width: 35px;
  transform: translateY(-4px);
}

.overview-main-image {
  max-height: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: 1;
  object-fit: cover;
}

.overview-main-image-expanded {
  max-height: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: 1;
  object-fit: cover;
  cursor: crosshair;
}

.overview-main-image-zoom {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: 1;
  object-fit: cover;
  cursor: zoom-out;
  overflow: auto;
}

.overview-thumbnail-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 3;
  align-self: top;
  margin-left: 25px;
  margin-top: 10px;
  align-content: center;
}

.overview-thumbnail-arrow {
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: -5px;
  width: 15px;
}

.overview-thumbnail-arrow:hover {
  width: 20px;
  margin-left: 18px;
}

.overview-thumbnail-image-container {
  min-width: 60px;
  height: 520px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overview-thumbnail-image-container::-webkit-scrollbar {
  display: none;
}

/* #scroll {
  transform: translateY(60px);
} */

.overview-image-thumbnail {
  object-fit: cover;
  height: 55px;
  width: 55px;
  margin-top: 15px;
  border: 1px solid white;
}
/*
.image-thumbnail:hover {
  border: 2px solid white;
} */

#overview-selected-thumbnail {
  border-width: 2px;
}

hr {
  width: 55px;
  border-width: 0;
  color: white;
  background-color: white;
  height: 2px;
  align-self: left;
  margin: 0px;
}


/* Product Info Formatting ---------------------------------------- */

.overview-product-info-container {
  grid-column: 4 / 5;
  margin: 0 auto;
  max-width: 800px;
  height: 670px;
  font-size: 1em;
  line-height: 1.2em;
  background-color: white;
  padding: 40px 30px 15px 30px;
}

.overview-product-info-container-hidden {
  display: none;
}

.overview-ratings {
  line-height: 2em;
  font-size: .8em;
}

.overview-ratings-link {
  margin-left: 5px;
  text-decoration: underline;
  font-weight: 200;
  font-size: .7em;
}

.overview-product-name {
  font-style: bold;
  font-weight: 800;
  font-size: 2em;
  line-height: 1em;
}

.overview-category {
  font-size: .9em;
  font-weight: 300;
  line-height: 2.5em;
  text-transform: uppercase;
}

.overview-price {
  line-height: 4em;
}

.overview-price-sale {
  color: rgb(170, 0, 0);
}

.overview-price-original {
  text-decoration: line-through;
  margin-left: .5em;
}

.overview-description {
  font-size: .9em;
  font-weight: 400;
}

.overview-social-media {
  line-height: 5em;
}

/* Style Selector Formatting ---------------------------------------- */
.overview-style-selector {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 4%;
  place-items: center;
  place-content: center;
  margin: 15px;
}

.overview-style-thumbnail {
  height: 55px;
  width: 60px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 8px;
}

.overview-style-selected {
  height: 55px;
  width: 55px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid black;
}

.overview-style-unselected {
  height: 55px;
  width: 55px;
  object-fit: cover;
  border-radius: 50%;
}

.overview-style-name {
  margin: 35px 0px 0px;
  font-weight: 300;
  font-size: .85em;
  text-transform: uppercase;
}

/* .overview-style-name {
  padding-right: .3em;
  padding-left: .3em;
  font-weight: 300;
  line-height: 1em;
  font-size: .8em;
  min-height: 35px;
  text-align: center;
  margin: 20px 2px 5px;
} */

.overview-checkmark-icon {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 40px;
  position: absolute;
  height: 23px;
  width: 23px;
  background-color: white;
  border-radius: 50%;
}


/* Add To Cart Formatting ---------------------------------------- */
.overview-addToCart-container {
  height: 100px;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
  column-gap: 10px;
  row-gap: 5px;
  width: 270px;
}

.overview-help-text-space {
  height: 30px;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.overview-help-text {
  vertical-align: bottom;
  padding-top: 15px;
  font-weight: 200;
  line-height: 1em;
  font-size: .8em;
  color: rgb(170, 0, 0);
  margin: 1px 0px 0px;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}


/* Size Selector Styling ------------------- */
.overview-size-dropdown-btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .8em;
  text-transform: uppercase;
  height: 30px;
  min-width: 180px;
  background-color: #f5f5f5;
  color: #2C3E50;
  border: 1px solid #2C3E50;
  cursor: pointer;
  background-image: url('https://img.icons8.com/material/24/000000/sort-down--v1.png');
  background-repeat: no-repeat;
  background-position: right 3% center;
  grid-column: 1 / 5;
  grid-row: 2 / 3;

}

.overview-size-dropdown {
  position: relative;
  display: inline-block;
  margin: 5px 0px;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  vertical-align: middle;
}

.overview-size-options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  width: 180px;
  height: 25px;
  border: 1px solid #2C3E50;
  z-index: 1;
  font-size: .8em;
  margin: 0px;
}

.overview-size-options-open {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  width: 180px;
  border: 1px solid #2C3E50;
  z-index: 1;
  font-size: .9em;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
  text-align: center;
}


.overview-size {
  display: block;
}

.overview-size:hover {
  color: white;
  background-color: #00747c;
}

/* Quantity Selector Styling ------------------- */
.overview-qty-dropdown {
  height: 30px;
  width: 78px;
  border-radius: 0;
  padding-left: 10px;
  /* margin: 5px 0px; */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .9em;
  background-color: #f5f5f5;
  color: #2C3E50;
  border: 1px solid #2C3E50;
  /* margin-right: 10px; */
  /* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Down arrow background image */
  background-image: url('/public/images/solid-down-arrow.png');
  background-repeat: no-repeat;
  background-position: right 4% center;
  grid-column: 5 / -1;
  grid-row: 2 / 3;
  align-self: center;
  margin-left: 16px;
}

button.overview-addToCart {
  height: 40px;
  /* width: 220px; */
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 2px 0px;
  background-color: #2C3E50;
  color: #ECF0F1;
  grid-column: 1 / 6;
  grid-row: 3 / 4;
}

.overview-heart-icon {
  height: 40px;
  width: 44px;
  border: 1px solid #2C3E50;
  /* background-image: url("https://img.icons8.com/material-outlined/24/000000/like--v1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%; */
  grid-column: 6 / -1;
  grid-row: 3 / 4;
  margin: 2px 0px;
  text-align: center;
  font-size: .95em;
  padding:20%;
}

.overview-heart-icon:hover {
  height: 40px;
  width: 44px;
  border: 1px solid #2C3E50;
  /* background-image: url("https://img.icons8.com/material-rounded/24/000000/like--v1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%; */
  grid-column: 6 / -1;
  grid-row: 3 / 4;
  margin: 2px 0px;
  text-align: center;
  font-size: 1.25em;
  padding:20%;
}

/* Other Component Formatting ---------------------------------------- */

